# This is the main configuration file for the application.
# ~~~~~

# Public API address
# ~~~~~
application.baseurl="http://localhost:9000"

# Secret key
# ~~~~~
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
application.secret=

# The application languages
# ~~~~~
application.langs="en"

# Global object class
# ~~~~~
# Define the Global object class for this application.
# Default to Global in the root package.
application.global=es.tid.cosmos.api.ProductionGlobal

# Database configuration
# ~~~~~
db.default.host="localhost"
db.default.port=3306
db.default.name=
db.default.driver=com.mysql.jdbc.Driver
db.default.url="jdbc:mysql://"${db.default.host}":"${db.default.port}"/"${db.default.name}
db.default.user=
db.default.pass=

# Evolutions
# ~~~~~
# You can disable evolutions if needed
# evolutionplugin=disabled

# TU|Id configuration
# ~~~~
oauth.client.id=es.tid.cosmos.api.oauth2.TuIdOAuthClientComponent
oauth.client.secret=
oauth.provider=
oauth.providerName=
tuid.auth.url=
tuid.api.url=
github.auth.url=
github.api.url=

# Links
# ~~~~
cli.url="http://localhost/cosmos.egg"

# Swagger API documentation
# ~~~~~
swagger.api.basepath=${application.baseurl}

# IAL configuration
# ~~~~~
ial.root.ssh.private_key=
ial.db.host=${db.default.host}
ial.db.port=${db.default.port}
ial.db.username=${db.default.user}
ial.db.password=${db.default.pass}
ial.db.name=${db.default.name}

# Service manager
# ~~~~~
ambari.server.url=localhost
ambari.server.port=8080
ambari.server.username=
ambari.server.password=
ambari.servicemanager.initialization.graceperiod.minutes=5
ambari.servicemanager.refresh.graceperiod.seconds=30
ambari.servicemanager.mappersPerSlave=8
ambari.servicemanager.reducersPerSlave=4
hdfs.cluster.id=persistentHdfs

# Logger
# ~~~~~
# You can also configure logback (http://logback.qos.ch/), by providing a logger.xml file in the conf directory .

# Root logger:
logger.root=ERROR

# Logger used by the framework:
logger.play=INFO

# Logger provided to your application:
logger.application=DEBUG

