{% extends "admin/base.html" %}

{% load i18n %}

{% block content %}
<div id="content-main">
	<h1>{{ "BDP Edit Configuration" }}</h1></br></br>
    <form {% if form.form.is_multipart %}enctype="multipart/form-data" {% endif %}method="post" action="" id="{{ opts.module_name }}_form">{% csrf_token %}
        <div>
            {% if form.form.errors %}
            <p class="errornote">
                {% blocktrans count form.form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            <ul class="errorlist">
                {% for error in form.form.non_field_errors %}
                <li>{{ error }}</li>{% endfor %}
            </ul>
            {% endif %}
            
		    <div class="fieldWrapper">
		        {{ form.message.errors }}
		        <label class="label-form" for="id_type">Configuration Name</label>
		        {{ form.name }}
		    </div><br/>
		    <table class="list_table" cellspacing="0" id="result_list" border="1" width="100%">
				<thead>
						<tr>
							<th scope="col" class="action-checkbox-column">
								<input type="checkbox" id="action-toggle" />
							</th>
							<th scope="col" height="35px">Identifier</th>						
					</tr>
				</thead>
				<tbody>
					{% for template in config.templates %}
						<tr class="row">
							<td class="action-checkbox" align="center">
								<input type="checkbox" class="action-select" value="3" name="_selected_action" />
							</td>
							<th height="25px">
								<a href="../../ingestion/{{ template }}/">{{ template }}</a>
							</th>
						</tr>
					{% endfor %}
				</tbody>
			</table></br>
			
            <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
            {{ previous_fields|safe }}

            <p class="paginator">Total ...</p></bh>
	        <div id="buttons-div" class="submit-row" align="right">
	            <input type="submit" value="Finish" class="button" name="_save" onClick="location.href='add/'"/>
	        </div>

            <script type="text/javascript">document.getElementById("{{ form.first_field.auto_id }}").focus();</script>
        </div>
    </form>
</div>
{% endblock %}