{% extends "admin/base.html" %}

{% if templates %}

{% block content %}

<div id="content-main"><br/>        				         	

<label class="home_label" style="font-weight: bold; text-align:center; font-size: 24px">Demostration of Using BDP Configuration</label><br/>

<br/><br/><br/>

	<div class="home_label" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
	Welcome to BDP Configuration Demo!!!<br/><br/><br/>
	This Demo is the initial version of the new BDP Configuration PS tool.<br/><br/>
		Enter in BDP Configuration Wizard. Select your own options, filters and navigate easily through this 3 steps Wizard:<br/><br/><br/>
		<a class="home_label" style="font-size: 15px; font-weight:bold" href="../wizard/configuration/">BDP Configuration Wizard</a><br/><br/><br/>
		Enjoy the experience...</div><br/><br/>
	  	
	  	<div style="text-align:center; width: 100%">  		
	  		<img src="{{ STATIC_URL }}images/django_90.png" alt="groupwarewizard" align="middle"/>
	  		<img src="../../static/images/big_data.png" alt="groupwarewizard" align="middle"/>
	  		<img src="C:/Users/HI-PROVE/workspace/Configuration/Configuration/templates/static/images/big_data.png" alt="groupwarewizard" align="middle"/>
	  		<img src="C:/Users/HI-PROVE/workspace/Configuration/Configuration/templates/static/images/django_90.png" alt="groupwarewizard" align="middle"/>
		</div>
  	</div>

</div> 	 
{% endblock %}
{% endif %}