<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>PreProcessing</title>
		<!-- Date: 2012-02-08 -->
	</head>
	<body>
		<form action="/wizard/preProcessing/" method="post">{% csrf_token %}
		    <div class="fieldWrapper">
		        {{ form.message.errors }}
		        <label for="id_type">Extension Filter</label>
		        {{ form.extension }}
		    </div>
		    <div class="fieldWrapper">
		        {{ form.message.errors }}
		        <label for="id_type">Third Party Filter</label>
		        {{ form.thirdParty }}
		    </div>
		    <div class="fieldWrapper">
		        {{ form.message.errors }}
		        <label for="id_type">Personal Info Filter</label>
		        {{ form.personalInfo }}
		    </div>		    
		    <p><input type="submit" value="Send message" /></p>
		</form>
	</body>
</html>
{"_id":ObjectId("xxxxxxx"),
"template":"PreprocessingTemplate","
attribute_values":[{"header":"Extension Filter","options":[{"Enabled":1,"Values":["jpg","mp3","png"]}]},
{"header":"Third Party Filter","options":[{"Enabled":1,"Values":["admob.com","adserve.es"]}]},
{"header":"Personal Info Filter","options":[{"Enabled":1,"Values":["pornhub.com","porntube.com"]}]}]}