{% extends "admin/base.html" %}

{% load i18n %}

{% block content %}
<div id="content-main">
	<h1>{{ "BDP Configuration" }}</h1>
	<a>{{ "1. Ingestion" }}</a> &rsaquo;&rsaquo;&rsaquo;
    <a>{{ "2. Pre-processing" }}</a> &rsaquo;&rsaquo;&rsaquo;
	<a id="a-ingestion">{{ "3. Processing and Consumption" }}</a><br/><br/><br/><br/>
    <form {% if form.form.is_multipart %}enctype="multipart/form-data" {% endif %}method="post" action="" id="{{ opts.module_name }}_form">{% csrf_token %}
        <div>
            {% if form.form.errors %}
            <p class="errornote">
                {% blocktrans count form.form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            <ul class="errorlist">
                {% for error in form.form.non_field_errors %}
                <li>{{ error }}</li>{% endfor %}
            </ul>
            {% endif %}
            <br/>
            <div class="field-div">
		        {{ form.subject.errors }}
		        <label class="label-form" for="id_type">Consumption Path</label>
		        {{ form.consumption_path }}
		    </div><br/><br/><br/>
		    <div class="consumption-div">
			    <div class="consumption-div-left">
				    <h2 class="h-label">{{ "Available Attributes" }}</h2>
				    <div class="cons-div">
				        {{ form.message.errors }}
				        <label for="id_type">Attributes Fields</label>
			        	 {{ form.attributes_fields }}		       
				    </div>
				</div>
				<div class="consumption-div-right">
				    <h2 class="h-label">{{ "Attributes Configuration" }}</h2>
				    <div class="cons-div">
				        {{ form.message.errors }}
				        <label for="id_type">Grouping Fields</label>
			        	 {{ form.grouping_fields }}<br/><br/><br/><br/>	
			        	<label for="id_type">Consumption Mode</label>
			        	 {{ form.mode }}
				    </div>
			    </div><br/><br/>
		    </div><br/>
		    
            <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
            {{ previous_fields|safe }}
			
			 <div id="buttons-div" align="right">
             	<input type="reset" value="Cancel" class="button" name="_cancel"/>
             	<input type="button" value="&laquo; Back" class="button"/>
                <input type="submit" value="{% ifequal step step_count %}Finish{% else %}Next &raquo;{% endifequal %}" class="button" name="_save"/>               
            </div>

            <script type="text/javascript">document.getElementById("{{ form.first_field.auto_id }}").focus();</script>
        </div>
    </form>
</div>
{% endblock %}