/*
	cosmos styles
	important: these should be namespaced
	example:
		let's say you are creating an app called "calculator"; you should prefix all your styles with your application's name like so

		.calculator img {
			border: 1px solid #000;
		}
		.calculator p {
			margin: 10px 0px;
		}
		etc...

	other notes:
	* don't use ids - there may be more than one of your apps open; use classes!
	* the toolbar element is absolutely positioned and 100% wide (and therefor 0px high);
	  any elements inside it should also be absolutely positioned
*/

.cosmos img.cosmos_icon {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 24px;
	left: 14px;
        z-index: 1;
}

.cosmos .nav, .cosmos .subnav {
    position: absolute;
    z-index: 1;
    left: 80px;
}
.cosmos .nav {
    top: 24px;
}

.cosmos .nav_icon {
    padding: 6px 8px 6px 25px;
    height: 25px;
}

.cosmos .nav li {
    float: left;
}

.cosmos .subnav li {
    margin-left: 1em;
    float: left;
}

.cosmos .subnav {
    top: 55px;
}

.cosmos .subnav_icon {
    padding: 4px 8px 4px 24px;
    height: 18px;
}

.cosmos a.cos-job_runs_nav {
    background: url(/static/art/icons/application_view_list.png) no-repeat;
}
.cosmos a.cos-define_job_nav {
    background: url(/static/art/icons/control_play_blue.png) no-repeat;
}
.cosmos a.cos-upload_nav {
    background: url(/static/art/icons/add.png) no-repeat;
}
.cosmos a.cos-upload_dataset,
.cosmos a.cos-upload_jar {
    background: url(/static/art/icons/add.png) no-repeat;
}

.cosmos .cos-upload_choices {
    padding: 1em;
}
.cosmos .cos-upload_choices ul li {
    display: block;
    margin: 2em;
}
.cosmos a.cos-upload_dataset,
.cosmos a.cos-upload_jar {
    padding: 4px 8px 4px 24px;
    height: 25px;
}
.cosmos a.cos-upload_dataset {
    background: url(/static/art/icons/page_add.png) no-repeat;
}
.cosmos a.cos-upload_jar {
    background: url(/static/art/icons/package_add.png) no-repeat;
}

.cos-noflash a {
    color: #3e528c;
}
.cos-uploader {
	width: 80%;
	background: #fff;
	border: 1px solid #000;
	position: absolute;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 2px #999;
	-webkit-box-shadow: 0 1px 2px #999;
	padding: 4px;
	z-index: 10003;
	overflow: auto;
}
.cos-uploader .fb-cancel-upload {
	z-index: 1;
	cursor: pointer;
	display: block;
	height: 13px;
	overflow: hidden;
	position: absolute;
	right: 2px;
	text-indent: 300px;
	width: 13px;
	background: url(/static/art/close.png);
}


.cos-uploader a.hover {
	color: red;
}

.cos-uploader .cos-upload-list {
	height: 100px;
	overflow: auto;
	padding: 0;
	list-style: none;
	margin: 0 14px 0 0;
}

.cos-uploader .cos-upload-list .file-invalid {
	cursor: pointer;
	color: #514721;
	padding-left: 48px;
	line-height: 24px;
	background: url(/static/js/ThirdParty/digitarald-fancyupload/assets/error.png) no-repeat 24px 5px;
	margin-bottom: 1px;
}
.cos-uploader .cos-upload-list .file-invalid span {
	background-color: #fff6bf;
	padding: 1px;
}

.cos-uploader .cos-upload-list .file {
	line-height: 2em;
	padding-left: 22px;
	background: url(/static/js/ThirdParty/digitarald-fancyupload/assets/attach.png) no-repeat 1px 50%;
}

.cos-uploader .cos-upload-list .file span,
.cos-uploader .cos-upload-list .file a {
	padding: 0 4px;
}

.cos-uploader .cos-upload-list .file .file-size {
	color: #666;
}

.cos-uploader .cos-upload-list .file .file-error {
	color: #8a1f11;
}

.cos-uploader .cos-upload-list .file .file-progress {
	width: 125px;
	height: 12px;
	vertical-align: middle;
	background-image: url(/static/js/ThirdParty/digitarald-fancyupload/assets/progress-bar/progress.gif);
}

/* Run job form */
.cos-run_job_form dt,
.cos-run_job_form p label {
    width: 90px;
    text-align: right;
    margin: 0 1ex;
}
.cos-run_job_form dt {
    float: left;
    clear: both;
}
.cos-run_job_form p label {
    display: inline-block;
}
.cos-run_job_form dd {
    float: left;
    text-align: left;
    margin: 1ex;
}
.cos-run_job_form dl input {
    width: 145px;
}
.cos-run_job_form .file_finder input {
    width: 120px;
}
.cos-run_job_form br {
    clear: both;
}
.cos-wizard_nav {
    display: block;
    position: relative;
    width: 250px;
}
.cos-run_job_form .submit {
    margin-left: 1ex;
    float: right;
}

.cos-job_summary table {width: 100%; margin-left: 30px; }
.cos-job_summary td,
.cos-job_summary th {
    font-size: 1em;
    padding: 2px; 
    margin: 0 1ex;
    border: 1px solid #999;
}
.cos-job_summary th { font-weight: bold; background-color:#f4f4f4; } 

/* Navigation */
.cos-next_page {
    background: url("/static/art/icons/control_play.png") no-repeat scroll 0 0 transparent;
}
.cos-prev_page {
    background: url("/static/art/icons/control_previous.png") no-repeat scroll 0 0 transparent;
}
.cosmos .step-links a {
    line-height: 19px;
}
.cosmos .step-links a {
    float: none;
    display: inline-block;
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0;
    vertical-align: text-bottom;
    text-indent: -500px;
    overflow: hidden;
}

/*
 * Visualize CSS
 */
/*plugin styles*/
.visualize { border: 1px solid #888; position: relative; background: #fafafa; }
.visualize canvas { position: absolute; }
.visualize ul,.visualize li { margin: 0; padding: 0;}

/*table title, key elements*/
.visualize .visualize-info { padding: 3px 5px; background: #fafafa; border: 1px solid #888; position: absolute; top: -20px; right: 10px; opacity: .8; }
.visualize .visualize-title { display: block; color: #333; margin-bottom: 3px;  font-size: 1.1em; }
.visualize ul.visualize-key { list-style: none;  }
.visualize ul.visualize-key li { list-style: none; float: left; margin-right: 10px; padding-left: 10px; position: relative;}
.visualize ul.visualize-key .visualize-key-color { width: 6px; height: 6px; left: 0; position: absolute; top: 50%; margin-top: -3px;  }
.visualize ul.visualize-key .visualize-key-label { color: #000; }

/*pie labels*/
.visualize-pie .visualize-labels { list-style: none; }
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label { position: absolute;  margin: 0; padding:0; }
.visualize-pie .visualize-label { display: block; color: #000; font-weight: bold; font-size: 1em; }
.visualize-pie-outside .visualize-label { color: #000; font-weight: normal; }

/*line,bar, area labels*/
.visualize-labels-x,.visualize-labels-y { position: absolute; left: 0; top: 0; list-style: none; }
.visualize-labels-x li, .visualize-labels-y li { position: absolute; bottom: 0; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { position: absolute; color: #555;  }
.visualize-labels-x li span.line, .visualize-labels-y li span.line {  position: absolute; border: 0 solid #ccc; }
.visualize-labels-x li { height: 100%; }
.visualize-labels-x li span.label { top: 100%; margin-top: 5px; }
.visualize-labels-x li span.line { border-left-width: 1px; height: 100%; display: block; }
.visualize-labels-x li span.line { border: 0;} /*hide vertical lines on area, line, bar*/
.visualize-labels-y li { width: 100%;  }
.visualize-labels-y li span.label { right: 100%; margin-right: 5px; display: block; width: 100px; text-align: right; }
.visualize-labels-y li span.line { border-top-width: 1px; width: 100%; }
.visualize-bar .visualize-labels-x li span.label { width: 100%; text-align: center; }

/*
 * Visualize Light CSS
 */
/* page styles */
.cosmos #job-results-table table { font-size:62.5%; }

/*demo styles*/
.cosmos #job-results-table table {width: 100%; height: 200px; margin-left: 30px; }
.cosmos #job-results-table table.accessHide { position: absolute; left: -999999px; }
.cosmos #job-results-table td, .cosmos th {  font-size: 1.2em; padding: 2px; width: 13%; }
.cosmos #job-results-table th { background-color:#f4f4f4; } 
.cosmos #job-results-table caption { font-size: 1.5em;  }

/*visualize extension styles*/
.visualize { margin: 60px 0 0 30px; padding: 70px 40px 90px; background: #ccc url(../images/chartbg-vanilla.png) top repeat-x; border: 1px solid #ddd; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
.visualize canvas { border: 1px solid #aaa; margin: -1px; background: #fff; }
.visualize-labels-x, .visualize-labels-y { top: 70px; left: 40px; z-index: 100; }
.visualize-pie .visualize-labels { position: absolute; top: 70px; left: 40px; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { color: #444; font-size: 1.3em; padding-right: 5px; }
.visualize-labels-y li span.line { border-style: solid;  opacity: .7; }
.visualize .visualize-info { border: 0; position: static;  opacity: 1; background: none; }
.visualize .visualize-title { position: absolute; top: 20px; color: #333; margin-bottom: 0; left: 20px; font-size: 2.1em; font-weight: bold; }
.visualize ul.visualize-key { position: absolute; bottom: 15px; background: #eee; z-index: 10; padding: 10px 0; color: #aaa; width: 100%; left: 0;  }
.visualize ul.visualize-key li { font-size: 1.2em;  margin-left: 20px; padding-left: 18px; }
.visualize ul.visualize-key .visualize-key-color { width: 10px; height: 10px;  margin-top: -4px; }
.visualize ul.visualize-key .visualize-key-label { color: #333; }
