/* page styles from visualize.jQuery */
a:link { color: #00C6D7; }
a:visited { color: #BB650E; }
div#branding {
  background-color: #004250;
}
div#user-tools {
  /*color: white;*/
  color: #64C3D6;
  background-color: #004250;
  height: 2em;
  padding-left: 1em;
}
div#content { 
  left: 0;
  width:55%;
}
div#right_banner {
  float: right;
  width: 20em; 
}
div#footer { background: #004250; }
img#logo { width: 200px; }
body {
  font-family: "Segoe UI", Frutiger,Tahoma,Helvetica,"Helvetica Neue", Arial, sans-serif;
  font-size: 75%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}
table {  border-collapse: collapse; }
td, th {
  text-align: center;
  border: 1px solid #ddd;
  padding:2px 5px;
}
caption {margin: 0 0 .5em; font-weight: bold; }
table#jobs-table { align: centered; }
h1 { color: #004250; }

/*
	Styles for the startup screen 
*/
.startupscreen {
	background-image: url('fading_bgd.gif');
	background-color: #00709C;
	background-repeat: repeat-y;
}
.startupscreen table { margin: 1em auto 2em; }
.startupscreen td { border: none; }
.startupscreen .error-msg { color: red; }
.startupscreen div {
	border-style: solid; 
	border-color: whiteSmoke;
	border-width: 1px;
	text-align: center;
	background-color: rgb(204, 204, 204);
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bolder;
	display: block;
	width: 30em;
	margin: 10em auto;
}

.error-detail {
    font-family: Courier New, Courier, monospace;
    font-size: 14px;
}

ul.messagelist { text-align: center; color: #000;border:1px solid #C8DCC2; margin:0 0; padding:0 0; }
ul.messagelist li { background: none; padding-left: 5px; padding-top: 8px; padding-bottom: 8px;font-size: 1.2em; }
ul.messagelist li.debug{ background: #EEFAEA; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messagelist li.info{ background: #EEFAEA; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messagelist li.success{ background: #EEFAEA; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messagelist li.warning{ background: #FF3333; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messagelist li.error{ background: #FF3333; padding: 5px, 0 5px 0; list-style: none;}
