/*
    DJANGO Admin styles
*/

#myDiv {
	height: 40px;
	background-color: #417690;
}

#site-name {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#main-header {
	background-color: #0086c3;
	vertical-align: top;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
}

#site-name {
	color: #ffffff;
	vertical-align: top;
}

.label-form {
	display: block;
	float: left;
	min-width: 140px;
	height: 25px;
	padding-top: 7px;
}

.label-form-radio {
	display: block;
	float: left;
	min-width: 160px;
	height: 25px;
	padding-top: 5px;
}

.button {
	width: 70px;
	height: 30px;
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
		Verdana, Arial, sans-serif;
	color: #333;
	font-size: 12px;
}

.h-label {
	font-size: 12px;
	font-weight: normal;
}

#a-ingestion {
	font-weight: bold;
	cursor: pointer;
}

body {
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
		Verdana, Arial, sans-serif;
	color: #333;
	font-size: 12px;
	border: solid;
	border-color: #ddd #aaa #aaa #ddd;
}

#content-main {
	border: solid;
	border-color: #ddd #aaa #aaa #ddd;
	width: 50%;
	margin: 0 auto;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	float: none;
	min-height: 450px;
}

.field-div {
	border: solid;
	border-color: #eee;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#buttons-div {
	height: 30px;
	border-color: #eee;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border: 1px solid #bbb;
	border-color: #ddd #aaa #aaa #ddd;
	vertical-align: middle;
}

.pre-div {
	border: solid;
	border-color: #eee;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	height: 65px;
}

.pre-div-right {
	float: right;
	width: 50%;
	height: 100%;
}

.pre-div-left {
	float: left;
	width: 50%;
	height: 100%;
}

.label-form-2 {
	display: block;
	float: left;
	min-width: 140px;
	height: 25px;
}

.consumption-div-right {
	float: right;
	width: 48%;
	height: 100%;
	min-height: 260px;
}

.consumption-div-left {
	float: left;
	width: 48%;
	height: 100%;
	min-height: 260px;
}

.consumption-div {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 200px;
}

.cons-div {
	border: solid;
	border-color: #eee;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	height: 150px;
}

.button-configuration {
	min-width: 120px;
	height: 30px;
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
		Verdana, Arial, sans-serif;
	color: #333;
	font-size: 12px;
}

.list_table {
	border: 1;
	width: 100%;
	border-color: #eee;
}

#home_label {
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",Verdana, Arial, sans-serif;
	color: #333;
}

.test33 {
	background-color: #ff00ff;
	border-color: #ffff00;
}