#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	# Add here commands to compile the package.
	make release_all SAMSON_HOME=$(CURDIR)/debian/samson/opt/samson
	make man_release_all SAMSON_HOME=$(CURDIR)/debian/samson/opt/samson
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf $(CURDIR)/debian/tmp
	rm -rf $(CURDIR)/debian/samson
	rm -rf $(CURDIR)/debian/samson-gui
	rm -rf $(CURDIR)/debian/samson-dev
	rm -rf $(CURDIR)/debian/samson-log
	rm -rf $(CURDIR)/debian/MANIFEST*
	rm -rf $(CURDIR)/debian/samson*.tar
	rm -rf BUILD_RELEASE
	dh_clean debian/files

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	make install_release_all SAMSON_HOME=$(CURDIR)/debian/samson/opt/samson
	# Generate a list of files for each package 
	(cd $(CURDIR)/debian/samson; find . -type f -or -type l | sed -e '/^$$/d') > $(CURDIR)/debian/MANIFEST
	grep "samsonTopicMonitor\|delilah_graph\|samsonLocal" $(CURDIR)/debian/MANIFEST > $(CURDIR)/debian/MANIFEST.samson-gui
	grep "include\/\|lib\/\|samsonModule" $(CURDIR)/debian/MANIFEST > $(CURDIR)/debian/MANIFEST.samson-dev
	grep "logCat\|logServer\|logClient\|logserver" $(CURDIR)/debian/MANIFEST > $(CURDIR)/debian/MANIFEST.samson-log
	grep -v "samsonTopicMonitor\|delilah_graph\|samsonLocal\|include\|lib\/\|samsonModule\|logCat\|logServer\|logClient\|logserver" $(CURDIR)/debian/MANIFEST > $(CURDIR)/debian/MANIFEST.samson
	# Copy files needed for the samson package
	mkdir -p  $(CURDIR)/debian/tmp
	tar -cvf $(CURDIR)/debian/samson.tar -C $(CURDIR)/debian/samson -T $(CURDIR)/debian/MANIFEST.samson --transform 's,^/,./,' --show-transformed-names
	tar -xf $(CURDIR)/debian/samson.tar  -C $(CURDIR)/debian/tmp
	# Additional Directory structure for samson package
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/bin
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/etc
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/data
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/blocks
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/log
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/config
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/share
	mkdir -p $(CURDIR)/debian/tmp/var/samson/etc
	mkdir -p $(CURDIR)/debian/tmp/etc/init.d
	mkdir -p $(CURDIR)/debian/tmp/etc/profile.d
	mkdir -p $(CURDIR)/debian/tmp/etc/defaults
	mkdir -p $(CURDIR)/debian/tmp/var/log/samson
	cp $(CURDIR)/etc/setup.txt                                                $(CURDIR)/debian/tmp/var/samson/etc
	cp $(CURDIR)/etc/profile.d/samson.sh                                      $(CURDIR)/debian/tmp/etc/profile.d/samson.sh
	cp $(CURDIR)/etc/init.d/samson.ubuntu                                     $(CURDIR)/debian/tmp/etc/init.d/samson
	cp $(CURDIR)/README                                                       $(CURDIR)/debian/tmp/opt/samson/share
	cp $(CURDIR)/scripts/samsonInitSetup                                      $(CURDIR)/debian/tmp/opt/samson/bin
	# Copy files needed for the samson-gui package
	mkdir -p  $(CURDIR)/debian/samson-gui
	tar -cvf $(CURDIR)/debian/samson-gui.tar -C $(CURDIR)/debian/samson -T $(CURDIR)/debian/MANIFEST.samson-gui --transform 's,^/,./,' --show-transformed-names
	tar -xf $(CURDIR)/debian/samson-gui.tar  -C $(CURDIR)/debian/samson-gui
	# Copy files needed for the samson-dev package
	mkdir -p  $(CURDIR)/debian/samson-dev
	tar -cvf $(CURDIR)/debian/samson-dev.tar -C $(CURDIR)/debian/samson -T $(CURDIR)/debian/MANIFEST.samson-dev --transform 's,^/,./,' --show-transformed-names
	tar -xf $(CURDIR)/debian/samson-dev.tar  -C $(CURDIR)/debian/samson-dev
	# Copy files needed for the samson-log package
	mkdir -p  $(CURDIR)/debian/samson-log
	tar -cvf $(CURDIR)/debian/samson-log.tar -C $(CURDIR)/debian/samson -T $(CURDIR)/debian/MANIFEST.samson-log --transform 's,^/,./,' --show-transformed-names
	tar -xf $(CURDIR)/debian/samson-log.tar  -C $(CURDIR)/debian/samson-log

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps -XsamsonLevelMonitor -Xdelilah_graph
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
