<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualization Tool Demo</title>
    
    <!-- stylesheets -->
    <link href="../../resources/css/layout.css" rel="stylesheet"/>
 
 	<!-- favicon -->
    <link rel="shortcut icon" href="../../resources/images/chart_bars.png"/>
	
	<!-- javascript -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../../app/js/creation.js"></script>
	<script type="text/javascript" src="../../app/js/xmlChart.js"></script>
	
	<!-- Charting -->
	<script type="text/javascript" src="../../app/js/highcharts.js"></script>
	<script type="text/javascript" src="../../app/js/charts.js"></script>
	<script type="text/javascript" src="../js/jquery/jquery.form.js"></script>
	
</head>

<body>
    <header style="text-align: right; background-color: #0086c3; height: 35px; padding-left: 5px; padding-right: 5px;">
        <img align="left" src="../../resources/images/footer_Telefonica.png" alt="footerTelefonica"/>       
    	<label style="color: #ffffff; font-size: 25px; font-weight: bold; padding-right: 420px">Visualization Tool Demo</label>
    	<label><a style="color: #ffffff; font-size: 12px" href="../../app/view/login.html">Log in</a></label>
   		<label style="color: #ffffff; font-size: 12px">|</label>
   		<label><a style="color: #ffffff; font-size: 12px" href="../../app/view/registration.html">Register</a></label>
    </header>

	<nav style="height:10px; border: solid; border-color: #ffffff; border-left-width: 0; border-right-width: 0; background-color: #0086c3"></nav>
		    
	<div style="width:100%; height: 90%">
	  <div style="height:97%; width:18%; float:left; padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
	      <b style="font-size: 24px">Main Menu</b><br/>
	      	  <hr style="color: #0086c3"/>
		      <h1 style="font-size: 20px">Data Sets</h1>
	            <ul>
	            	<li id="createLi" style="color: #0086c3"><a href="../../app/view/creation.html">Create Visualization</a></li>
	            	<li id="existingLi" style="color: #0086c3"><a href="../../app/view/datasets.html">Existing Data Sets</a></li>
	            </ul>	        
	        <h1 style="font-size: 20px">Visualizations</h1>
	            <ul>
	                <li id="columnLi" style="color: #0086c3"><a href="../../app/view/charts/area.html">Area Chart</a></li>
	                <li id="columnLi" style="color: #0086c3"><a href="../../app/view/charts/bar.html">Bar Chart</a></li>
	                <li id="columnLi" style="color: #0086c3"><a href="../../app/view/charts/column.html">Column Chart</a></li>
	                <li id="lineLi" style="color: #0086c3"><a href="../../app/view/charts/line.html">Line Chart</a></li>
	                <li id="pieLi" style="color: #0086c3 ; padding-bottom: 5px"><a href="../../app/view/charts/pie.html">Pie Chart</a></li>
	            </ul>
	        <h1 style="font-size: 20px">My Profile</h1>
	            <ul>
	                <li id="columnLi" style="color: #0086c3"><a href="#">Profile Details</a></li>
	                <li id="columnLi" style="color: #0086c3; padding-bottom: 5px"><a href="#">My Graphics</a></li>
	            </ul>
	  </div>  
	  
	  <div style="height: 100%; width: 80%; float: right">
		<div style="height: 5%; color: #0086c3">
      		<b style="font-size:24px">Create Visualization</b>
  		</div>
  		<div style="color:#0086c3; border:solid; border-color:#0086c3; height: 90.5%; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
  			<div style="width: 70%; float: left">
	  			<form id="formComponent" style="text-align: left; padding-left: 20px; padding-right: 20px">Create visualization form: <br><br>
		         	<label>Fill all the required fields in this form to create your own visualization project in order to display your data information showed in many kinds of charts.</label><br><br>
		         	<table>
						<tr>
						<td id="titleTd" style="padding-top: 5px">Title Chart: </td>
						<td id="titleInputTd" style="padding-top: 5px">
						<input type="text" id="inputTitle" name="title" maxlength="100" required="true" autocomplete="off"/>
						</td>
						</tr>
						<tr><td style="padding-top: 20px">Type of graphic: </td>
						<td style="padding-top: 20px">
						<select id="combo" name="type">
						  <option value ="0">Select Chart</option>
						  <option value ="1">Area Chart</option>
						  <option value ="2">Bar Chart</option>
				    	  <option value ="3">Column Chart</option>
						  <option value ="4">Line Chart</option>
						  <option value ="5">Pie Chart</option>
						</select>
						</td>
						</tr>
						<tr>
						<td id="xAxisTitleTd" style="padding-top: 5px">xAxis Variable Name: </td>
						<td id="xAxisInputTd" style="padding-top: 5px">
						<input type="text" id="xAxisTitle" name="xAxisTitle" maxlength="100" required="true" autocomplete="off"/>
						</td>
						</tr>
						<tr>
						<td id="yAxisTitleTd" style="padding-top: 5px">yAxis Variable Name: </td>
						<td id="yAxisInputTd" style="padding-top: 5px">
						<input type="text" id="yAxisTitle" name="yAxisTitle" maxlength="100" required="true" autocomplete="off"/>
						</td>
						</tr>
<!-- 						<tr>
						<td id="descTitleTd" style="vertical-align: top; padding-top: 5px">Description: </td>
						<td id="descInputTd" style="padding-top: 5px">
						<textarea rows="4" cols="40" id="desc" name="description" autocomplete="off"></textarea>
						</td>
						</tr> -->
						<tr>
						<td id="dataTitleTd" style="vertical-align: top; padding-top: 5px">Introduce your JSON or XML: </td>
						<td id="dataInputTd" style="padding-top: 5px">
						<textarea rows="10" cols="40" id="dat" required="true" name="dataset" autocomplete="off"></textarea>
						</td>
						</tr>
						<tr>
						<td id="submitSpaceTd" style="vertical-align: top; padding-top: 5px"></td>
						<td id="submitInputTd" style="padding-top: 5px">
						<input id="uploadbtn" type="button" value="Upload Data Set" onclick="clickSubmit()"/>
						<input id="cleanbtn" type="reset" value="Clean"/>
						</td>
						</tr>
					</table>										
				</form><br>		
				
		   		<div id="chartContainer" style="height: 100%; width: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">></div>
		   </div>
			<div style="width: 30%; float: right; padding-bottom: 20px; padding-top: 20px; text-align: center"><br/><br/>
				<img src="../../resources/images/bar.stacked.side.by.side.png" alt="bar"/><br/><br/>
	  			<img src="../../resources/images/area.stacked.spline.png" alt="area"/><br/><br/>
	  			<img src="../../resources/images/doughnut.png" alt="doughnut"/><br/><br/>
			</div>
 		 </div>
 		</div>	  
  				
  		<div style="background-color:#0086c3; color: #ffffff; clear:both; height: 25px">
		  &copy; Copyright TID Tools Team 2012
		  <img align="right" vspace="0px" src="../../resources/images/footer_02.png" alt="footerO2"/>
	  </div>
	</div> 	   
	
</body>
</html>