html,body
{
    height:100%;
}

h1, b, option, select, input 
{
	color: #0086c3;
}

textarea
{
	resize: none;
	color: #0086c3;
}

.error
{
    font: normal 9px arial;
    padding: 3px;
    margin: 3px;   
    background-color: #ffc;
    border: 1px solid #c00;
    position:relative;
}
