<!DOCTYPE html>
<html>

<head>
	
	<meta charset="utf-8" />
    <title>Wizard Demo</title>
    
    <!-- stylesheets -->
 	<link rel="stylesheet" href="../../resources/css/layout.css" type="text/css">
    
 	<!-- favicon -->
    <link rel="shortcut icon" href="../../resources/images/wizard.png"/>
    
    <!-- javascript -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../../app/js/configuration.js"></script>

</head>

<body >

	<header style="text-align: right; background-color: #0086c3; height: 35px; padding-left: 5px; padding-right: 5px;">
        <img align="left" src="../../resources/images/footer_Telefonica.png" alt="footerTelefonica"/>       
    	<img align="right" vspace="0px" src="../../resources/images/footer_02.png" alt="footerO2"/>
    </header>

	<nav style="height:10px; border: solid; border-color: #ffffff; border-left-width: 0; border-right-width: 0; background-color: #0086c3"></nav>

	<div style="width:99.5%; height: 70%">
  	  	
  	  <div style="width:100%; height: 22px; border: solid; border-color: #0086c3; padding-bottom: 20px; color: #0086c3; font-size:35px; font-weight: bold; vertical-align:middle" align="center">Wizard Demo
  	  	
  	  </div>	
  	  
  	  <br/>
  	  
  	  <div id="content" style="height:100%; width: 50%; padding-top: 10px; padding-left:40px; padding-right:40px; border: solid; border-color: #0086c3; margin: 0 auto;"><br/>        				         	
 		
 		<label style="font-weight: bold; text-align:center; font-size: 30px">BDP Configuration</label><br/>
 		
 		<hgroup id="agroup">
 			<a id="aFirst" style="font-size: 12px" href="../../app/view/ingestion.html">1. Ingestion</a>			
			<a style="font-size: 12px"> > </a>
			<a id="aSecond" style="font-size: 12px" href="../../app/view/pre-processing.html">2. Pre-processing</a>
			<a style="font-size: 12px"> > </a>
			<a id="aThird" style="font-size: 12px" href="../../app/view/consumption.html">3. Processing and Consumption</a>
		</hgroup>
 		
 		<br/><br/>
 		
 		<label>Input Configuration</label>
 		<div style="width:100%; height: 150px; border: solid; border-color: #0086c3; color: #0086c3;">
  	  		
  	  		<form id="firstForm" style="padding-left: 25px; padding-right: 25px"><br/>
     			<table>
     				<tr>
					<td style="width: 120px; vertical-align:top">Name:</td>
					<td>
					<input id="name" name="name" type="text" autocomplete="off"/>
					</td>
					</tr>
					<tr>
					<td style="width: 120px; vertical-align:top; padding-top: 10px">Input type:</td>
					<td style="padding-top: 10px">
					<input id="radio1" type="radio" name="inputType" value="0"/> Streaming<br/>
					<input id="radio2" type="radio" name="inputType" value="1"/> By File
					</td>
					</tr>
					<tr>
					<td id="path" style="width: 120px; vertical-align:top; padding-top: 10px">Input path:</td>
					<td style="padding-top: 10px">
					<input id="url" name="url" type="url" autocomplete="off" style="width: 300px; vertical-align:top"/>
					<input id="file" name="file" type="file" autocomplete="off" style="width: 300px; vertical-align:top"/>
					</td>
					</tr>
				</table>
			</form>
  	  		
  	  		<form id="secondForm" style="padding-left: 25px; padding-right: 25px"><br/>
     			<table>
     				<tr>
					<td style="width: 120px; vertical-align:top">Input path:</td>
					<td>
					<input id="secondPath" name="name" type="text" readonly="readonly"/>
					</td>
					</tr>
					<tr>
					<td style="width: 120px; vertical-align:top; padding-top: 10px">Kpis Calculations:</td>
					<td style="padding-top: 10px">
					<input id="protocol" type="checkbox" name="kpi" value="0"/> Views per Protocol<br/>
					<input id="device" type="checkbox" name="kpi" value="1"/> Views per Device<br/>
					<input id="domain" type="checkbox" name="kpi" value="2"/> Views per Domain<br/>
					<input id="visitors" type="checkbox" name="kpi" value="3"/> Visitors per Protocol
					</td>
					</tr>
				</table>
			</form>
  	  		
  	  		<form id="thirdForm" style="padding-left: 25px; padding-right: 25px"><br/>
     			<table>
     				<tr>
					<td style="width: 120px; vertical-align:top">Output path:</td>
					<td>
					<input id="thirdPath" name="name" type="text" readonly="readonly" value="No available yet."/>
					</td>
					</tr>
					<tr>
					<td style="width: 120px; vertical-align:top; padding-top: 20px">Consumption:</td>
					<td style="padding-top: 20px">
					<input id="radio1" type="radio" name="inputType" value="0"/> High Availability<br/>
					<input id="radio2" type="radio" name="inputType" value="1"/> Data Exploitation
					</td>
					</tr>
				</table>
			</form>
  	  		
  	  	</div>

  	  	<br/>
  	  	
  	    <hgroup id="agroup" style="text-align:right;">
		   <button id="backButton" type="button">< Back</button>
		   <button id="nextButton" type="button">Next ></button>
		   <button id="finishButton" type="button">Finish</button>
		   <button id="cancelButton" type="button">Cancel</button>
	    </hgroup>	
 		
	  </div>
	  
	  <br/>
	  
	  <div style="background-color:#0086c3; color: #ffffff; clear:both; height: 22px; text-align:center; width: 100%">&copy; Copyright TID Tools Team 2012.
	  </div>

	</div> 	 

</body>

</html> 