<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal Server Error</title>
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
    </head>

    <body>
        <div id="header">
            <div id="branding">
                <img id="logo" src="{{ STATIC_URL }}logo.jpg">
            </div>
    
	    <a href="/">Home</a>
        </div>
    
        <div id="content">
	    <h1>Internal server error</h1>

	    <p>Something went wrong. You can go back <a href="/">home</a> and
	    continue using the site.</p>
	    <p>If the problem persist, please <a
		href="mailto:cosmos-prod@tid.es">contact us</a>.</p>

            <br class="clear" />
        </div>
    </body>
</html>
{# vim:set syntax=htmldjango: #}
