Source: samson
Section: devel
Priority: optional
Maintainer: Samson Dev <samson-dev@tid.es>
Standards-Version: 3.8.0
Homepage: http://www.mongodb.org

Package: samson
Section: tid
Priority: optional
Architecture: amd64
Depends: libprotobuf6, ntp, tid-mongodb, samson-logserver (= 0.6.1), libjson0
Description: SAMSON is a high-performance MapReduce platform that is designed
 for scaling tasks on a cluster of commodity hardware. This platform removes the
 need to develop a system for parallelizing and synchronizing work between
 servers, allowing a person to develop the analytical models needed to solve
 both current and future problems.  SAMSON extends the traditional MapReduce
 paradigm by allowing an external data source to stream data into and out of the
 cluster. This allows the system to handle any volume of data thus providing the
 ability to continuously process new inputs and output states without
 restriction.

Package: samson-dev
Section: tid
Priority: optional
Architecture: amd64
Depends: samson (= 0.6.1), libboost-dev, ncurses-dev, make, gcc, cmake, libreadline-dev, libprotobuf-dev, protobuf-compiler, libboost-filesystem-dev, libboost-thread-dev, qt4-qmake, libqt4-dev, tid-mongodb-dev
Description: SAMSON is a high-performance MapReduce platform that is designed
 for scaling tasks on a cluster of commodity hardware. This platform removes the
 need to develop a system for parallelizing and synchronizing work between
 servers, allowing a person to develop the analytical models needed to solve
 both current and future problems.  SAMSON extends the traditional MapReduce
 paradigm by allowing an external data source to stream data into and out of the
 cluster. This allows the system to handle any volume of data thus providing the
 ability to continuously process new inputs and output states without
 restriction.

Package: samson-gui
Section: tid
Priority: optional
Architecture: amd64
Depends: samson (= 0.6.1), kdchart
Description: SAMSON is a high-performance MapReduce platform that is designed
 for scaling tasks on a cluster of commodity hardware. This platform removes the
 need to develop a system for parallelizing and synchronizing work between
 servers, allowing a person to develop the analytical models needed to solve
 both current and future problems.  SAMSON extends the traditional MapReduce
 paradigm by allowing an external data source to stream data into and out of the
 cluster. This allows the system to handle any volume of data thus providing the
 ability to continuously process new inputs and output states without
 restriction.

Package: samson-logserver
Section: tid
Priority: optional
Architecture: amd64
Description: SAMSON is a high-performance MapReduce platform that is designed
 for scaling tasks on a cluster of commodity hardware. This platform removes the
 need to develop a system for parallelizing and synchronizing work between
 servers, allowing a person to develop the analytical models needed to solve
 both current and future problems.  SAMSON extends the traditional MapReduce
 paradigm by allowing an external data source to stream data into and out of the
 cluster. This allows the system to handle any volume of data thus providing the
 ability to continuously process new inputs and output states without
 restriction.
