#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	# Add here commands to compile the package.
	make release_all SAMSON_HOME=$(CURDIR)/debian/tmp/opt/samson
	make man SAMSON_HOME=$(CURDIR)/debian/tmp/opt/samson

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf $(CURDIR)/debian/tmp
	rm -rf BUILD_RELEASE
	dh_clean debian/files

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	mkdir -p $(CURDIR)/debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/bin
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/etc
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/data
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/blocks
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/log
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/config
	mkdir -p $(CURDIR)/debian/tmp/opt/samson/share
	mkdir -p $(CURDIR)/debian/tmp/var/samson/etc
	mkdir -p $(CURDIR)/debian/tmp/etc/init.d
	mkdir -p $(CURDIR)/debian/tmp/etc/profile.d
	mkdir -p $(CURDIR)/debian/tmp/etc/defaults
	mkdir -p $(CURDIR)/debian/tmp/var/log/samson
	make install SAMSON_HOME=$(CURDIR)/debian/tmp/opt/samson
	cp $(CURDIR)/etc/setup.txt                                                $(CURDIR)/debian/tmp/var/samson/etc
	cp $(CURDIR)/etc/profile.d/samson.sh                                      $(CURDIR)/debian/tmp/etc/profile.d/samson.sh
	cp $(CURDIR)/etc/init.d/samson.ubuntu                                     $(CURDIR)/debian/tmp/etc/init.d/samson
	cp $(CURDIR)/README                                                       $(CURDIR)/debian/tmp/opt/samson/share
	cp $(CURDIR)/scripts/samsonInitSetup                                      $(CURDIR)/debian/tmp/opt/samson/bin
	cp $(CURDIR)/scripts/samsonModuleDist                                     $(CURDIR)/debian/tmp/opt/samson/bin

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps -XsamsonLevelMonitor -Xdelilah_graph
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
