# -*- coding: utf-8 -*-
#
# Copyright (c) 2013-2014 Telefónica Investigación y Desarrollo S.A.U.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[buildout]
parts = instance test
develop = .
eggs = cosmos [test]
index = http://jenkins:jenkins@cosmos10.hi.inet:8000/simple/
allow-hosts = *cosmos10*

[instance]
recipe = zc.recipe.egg
eggs = cosmos

[test]
recipe = zc.recipe.testrunner
eggs = cosmos [test]

