# -*- coding: utf-8 -*-
#
# Telefónica Digital - Product Development and Innovation
#
# THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
# EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
#
# Copyright (c) Telefónica Investigación y Desarrollo S.A.U.
# All rights reserved.
#

[buildout]
extends = buildout.cfg
parts += ipython coverage pylint

[ipython]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
       ipython
scripts = ipython

[coverage]
recipe = createzopecoverage

[pylint]
recipe = zc.recipe.egg
eggs = pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]
arguments = [
    '--zope=y',
    '--reports=y',
    '--generated-members=objects',
    ] + sys.argv[1:]
