{% extends "base.html" %}
{% load url from future %}
{% block content %}
    <p>
    You are creating a new custom job by uploading a custom Hadoop mapreduce
    JAR.  Try the
    <a id="sample-jar-link" href="{{ STATIC_URL }}samples/wordcount.jar">
    wordcount example</a>
    (<a id="sample-jar-sources" href="{{ STATIC_URL }}samples/wordcount.tgz">sources</a>)
    or read about the
    <a id="jar-restrictions" href="{{ STATIC_URL }}custom_readme.html">
    custom job requirements</a>.
    </p>

    <form action="{% url 'new_job' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create job" />
    </form>
{% endblock %}
{# vim:set syntax=htmldjango: #}
